.msg {
  min-width: 25%;
}

.msg .text-bubble {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.msg .text-bubble .circle {
  min-width: 32px;
  min-height: 32px;
  aspect-ratio: 1/1;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.msg .text-bubble .text {
  /* width: calc(max-content + 10%); */
  background-color: whitesmoke;
  min-height: 32px;
  padding: 0 1rem;
  margin-left: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}
@media screen and (min-width: 768px) {
  .msg .text-bubble {
    width: max-content;
  }
}
