.form {
  margin-top: 1rem;
  width: 300px;
  height: 50px;
}

.form label,
.form label input {
  width: 100%;
  height: 100%;
}

.form label input {
  font-size: 18px;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  padding: 0 10px;
}

.form label input:focus {
  outline-color: blue;
  /* outline: none; */
}

.form label .err-border {
  border: 2px solid red !important;
}
