@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: -apple-system, BlinkMacSystemFont, "Prompt", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Prompt", sans-serif; */
  margin: 0;
  padding: 0;
  /* background-color: white; */
}

.msg {
  margin: 5px;
}
